@model DTOLibrary.PositionDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="container" style="width:40%"; margin-top:2%>

    <form id="form">
        @Html.HiddenFor(Model=>Model.Id)
        
        @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control", @placeholder = "Name" })

        @Html.TextBoxFor(Model => Model.Salary, new { @class = "form-control", @placeholder = "Salary" })

        <input type="button"  value="Submit" class="btn-block btn-primary" id="submit-button"/>

    </form>

</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        //debugger;
        console.log('your message');
        $("#submit-button").on('click',function () {
            $("#loaderDiv").show();
         
            var Data = $("#form").serialize();
            console.log(Data);
            $.ajax({
                
            type: "POST",
             url: "/Position/Edit",
            data: Data,
                succsess: function (response) {
                  //  $("#loaderDiv").hide();
                 //   debugger;

                    if (response.result == 'Redirect') {
                        alert("You will now be redirected.");
                        //redirecting to main page from here for the time being.
                        window.location = response.url;
                    }
                   
                
            }
            })
        })
       
          
    })

</script>
